body{
    background-color: #afaaaa
}

				
                h2
                {
						font-family: 'Cookie', cursive;
						font-weight: bold;
						color: blue;
				
				
				}
				h2:hover
				{
					color: red;
					font-weight: weight;
				}
				p
				{ 
                        font-size: 20px;
						font-family: 'Dancing Script', cursive;
				
				}
				a
				{
						color: blue;
						font-family: 'Montez', cursive;
				}
				
				a:hover
				{
						color: red;
				}
				
				a:visited
				{
						color: yellow;
				}
				
				a:active
				{
						color: green;
				}
				 h3
                {
						font-family: 'Cookie', cursive;
						font-weight: bold;
						color: blue;
				
				
				}
				h3:hover
				{
					color: red;
					font-weight: weight;
				}
				p
				{ 
                        font-size: 20px;
						font-family: 'Dancing Script', cursive;
				
				}
				a
				{
						color: blue;
						font-family: 'Montez', cursive;
				}
				
				a:hover
				{
						color: red;
				}
				
				a:visited
				{
						color: yellow;
				}
				
				a:active
				{
						color: green;
				}
				</style>
			